html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a2257;
    line-height: 1.4rem;
}

.container {
    background-color: white;
    padding: 2rem;
    margin: 1rem auto;
    max-width: 42rem;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

h1, h2, h3 {
    margin-top: 0;
}

.btn-icon {
    border: 0;
    background: none;
    cursor: pointer;
    color: gray;
}

    .btn-icon:hover {
        color: black;
    }

    .btn-icon > svg {
        transform: translateY(1px);
    }

ul.todos {
    padding: 0.5rem;
}

    ul.todos li {
        margin: 4px 0;
    }

.validation-summary-errors {
    color: red;
}

.validation-summary-valid {
    display: none;
}

p.warning {
    background-color: #FCC;
    padding: 0.5rem 1rem;
    margin: 2rem 0 -1rem 0;
}
