@page
@using System.Runtime.InteropServices
@{
    ViewData["Title"] = "Hello!";
}

<h1>Welcome!</h1>

<p>
    This is ASP.NET Core (server) running on <strong>@RuntimeInformation.OSArchitecture</strong>.
    The time is @DateTime.Now.ToLongTimeString().
</p>

<p>
    See also:
    <ul>
        <li><a asp-page="Todo">todo list as HTML form</a></li>
        <li><a href="~/api/todos">todo list as JSON API</a></li>
    </ul>
</p>

<img src="logo.png" alt="WASI logo" width="300" />
