@page
@{
    ViewData["Title"] = "Hello!";
}

<h1>Welcome!</h1>

<p>
    This is ASP.NET Core (server) built as a WASI module, <b>running directly in your browser</b>.
    It will share state across concurrent tabs within your browser.
    The time is @DateTime.Now.ToLongTimeString().
</p>

<p>
    See also:
    <ul>
        <li><a asp-page="Todo">todo list as HTML form</a></li>
        <li><a href="~/api/todos">todo list as JSON API</a></li>
    </ul>
</p>

<p class="warning">
    <strong>Caution: Don't actually do this!</strong>
    It's purely to demonstrate that ASP.NET Core on WebAssembly can run anywhere. It's <em>not</em> a sensible
    way to deliver a normal web app.
</p>

<img src="logo.png" alt="WASI logo" width="300" />
